@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .main-icon-wrapper {
    @apply relative w-10 h-10;
  }
  .icon-base {
    @apply w-full h-full p-1 bg-white rounded-md text-gray-800;
  }
  .row-position {
    @apply flex justify-center items-center;
  }

  .col-position {
    @apply flex flex-col justify-center items-center;
  }
}
